sonar.projectKey=okdevtv:tdd-junit
sonar.projectName=tdd-junit
sonar.projectVersion=1.0
sonar.language=java
sonar.sources=src/main/java/
sonar.java.binaries=target/classes
sonar.sourceEncoding=UTF-8
sonar.login=token-----------------------------------
